@import './reset.scss';

::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f5f7fa; // 浅灰色轨道
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #dcdfe6; // Element Plus 默认边框色
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c0c4cc; // 悬浮时变深
}