// layout页面左侧菜单宽度
$base-menu-width: 260px;
// layout页面左侧菜单收起后的宽度
$base-menu-flod-width: 90px;
// layout页面左侧菜单的背景颜色
$base-menu-bg-color: #001529;
// layout页面左侧菜单logo的高度
$base-menu-logo-height: 50px;
// layout左侧菜单的字体大小
$base-logo-title-fontSize: 18px;
// layout页面顶部导航的高度
$base-header-height: 64px;